<html>
  <head>
    <title> Welcome to ansible </title>
  </head>
  <body>
  <h1> nginx, configured by the Ansible <h1>
  <p> if you can seed this, Ansible successfully installed nginx. </p>

  <p> {{ansible_managed}} </p>
  </body>
</html>
